/*
theme name is :YOLO TRAVEL
theme coder and design:Osama Askar
date :25-3-2019
main color:#118df0;
secondary color:#004182;
other color:#fbffa3 ,#ff4b68

*/
/*--------------------Start Global------------*/

html.body{
    margin:0;
    padding: 0;
    
}
body{
    background-color: #f7f7f7;
}
.section {
    padding:60px;
}
.b-active{
    border-bottom: 2px solid #ff0;
    font-weight: 600;
}
.loading{
    display: none;
}
/*--------------------End Global------------*/



/*--------------------Start Header------------*/

.header{
   
    background-image:  linear-gradient(to left, rgba(17, 141, 240, .8), rgba(0, 65, 130, .9)), url(../images/home-image.jpg);
    background-size: cover;
    position: relative;
    -moz-clip-path:polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    
}
@media(max-width:576px){
    .header{
        -moz-clip-path:polygon(0 0, 100% 0, 100% 90vh, 0 100%);
       -webkit-clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
       clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }
}
.menu{
    height: 300px;
    overflow: hidden; 
    
}
.menu-container{
    width:300px;
    height: 500px;
    background-color: #118df0;
    padding-left: 100px;
    box-sizing: border-box;
    transform: translate3d(-405px,-210px,0px) rotate(45deg);
    margin:0;
    position: relative;
    transition: all .3s ease-in-out;
    font-family: tahoma;
}
.menu-list{
    margin:0;
    padding: 50px 20px 20px 50px;
    list-style: none;
}
.menu-item{
    padding: .5rem 0;
}
.menu-link{
    color:#fff;
    text-decoration: none !important;
    text-transform: capitalize;
    font-size: 16px;
    opacity: 0;
    transition: opacity .5s;
    transition: all .3s ease-in-out;
}
.menu-toggle{
    display: block;
    position: absolute;
    height: 30px;
    width:30px;
    top:12px;
    left: 12px;
    background: #ff4b68;
    cursor: pointer;
    
}

.menu-hamburger,
.menu-hamburger:before,
.menu-hamburger:after{
    background-color:white;
    height: 3px;
    width: 20px;
    display: block;
    transition: all .3s;
    
}
.menu-hamburger{
    position: relative;
    top:13px;
    left:4px;
}
.menu-hamburger:before{
    content: "";
    position: absolute;
    top:-6px;
}
.menu-hamburger:after{
    content: "";
    position: absolute;
    bottom:-6px;
}
nav.active .menu-link{
    opacity: 1;
    transition-delay: .3s;
}
nav.active .menu-container{
    height: 200%;
    transform: translate3d(-100px,0px,0px)rotate(0deg);
}

.menu.active .menu-hamburger:before{
    transform: rotate(-65deg);
    top:0;
}
.menu.active .menu-hamburger:after{
    transform: rotate(55deg);
    bottom:0;
}
.menu.active .menu-hamburger{
    background: transparent;
}
.menu-link:hover{
    color:#ff4b68;
    font-weight: 600;
}
.header .header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.header .header-content .header-name{
    color:#fff;
    font-size:80px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
}
.header .header-content .header-name::first-letter{
    color:#ff4b68;
    font-size: 100px;
}
.header .header-content .header-desc{
    color: #eee;
    font-size: 30px;
    letter-spacing: 4px;
    margin-bottom: 30px;
}
.header .header-content .button{
    border-radius: 4px;
    background-color: #ff4b68;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 7px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    text-transform: capitalize
}
.header .header-content .button span {
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}
.header .header-content .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.header .header-content .button:hover span {
    padding-right: 25px;
}
.header .header-content .button:hover span:after {
    opacity: 1;
    right: 0;
}
@media(max-width:575.98px){
    .header .header-content .header-name{
        font-size: 25px;
        margin-top: 60px;
    }
    .header .header-content .header-name::first-letter{
    font-size: 50px;
    }
    .header .header-content .header-desc{
        font-size: 20px;
    }
}
@media(min-width:576px) and (max-width: 767.98px){
    .header .header-content .header-name{
        font-size: 40px;
        margin-top: 60px;
    }
    .header .header-content .header-name::first-letter{
        font-size: 60px;
    }
    .header .header-content .header-desc{
        font-size: 20px;
    }
}
@media(min-width:768px) and (max-width:991.98px){
    .header .header-content .header-name{
        font-size: 60px;
        margin-top: 60px;
    }
    .header .header-content .header-name::first-letter{
        font-size: 80px;
    }
    .header .header-content .header-desc{
        font-size: 20px;
    }
}
/*--------------------End Header------------*/
/*--------------------Start About------------*/
.about{
    background-color: #f7f7f7;
}
.about h1{
    
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #118df0;
}
@media(max-width:576px){
    .about h1{
        font-size: 20px;
    }
    
}
.about .about-content >h3{
    color: #004182;
    font-size: 19px;
    margin-bottom: 20px;
}
@media(max-width:576px){
    .about .about-content h3{
        font-size: 16px;
    }
}
.about .about-content >p{
    color: #666;
    font-size: 15px;
    margin-bottom: 25px;
}
.about .about-advant{
    position: relative;
    margin-top: 10px;
}
.about .about-advant img{
    position: absolute;
    box-shadow:  0 1.5rem 4rem rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    transition: all .2s ease-in-out;
    z-index: 10;
    width:50%
}
.about .about-advant img:nth-child(1){
    left: 0;
    top: 5px;
}
.about .about-advant img:nth-child(2){
    right: 0;
    top: 20px;
}
.about .about-advant img:nth-child(3){
    top:50px;
    left:80px;
}
.about .about-advant img:hover{
    transform: scale(1.2);
    outline:#ff4b68 solid 10px;
    outline-offset: 12px;
}
.about .more{
    position: relative;
    color:#ff4b68;
    border-bottom:2px solid #ff4b68;
    text-decoration: none;
    margin-bottom: 40px;
    display: inline-block;
}
.about .more i{
    position: absolute;
    top: 7px;
    left: -172px;
    transition: all .3s
}
.about .more:hover i{
    left:80px;
}

@media(max-width:992px){
    .about .about-advant img{
        width:25%;
    }
    .about .about-advant img:nth-child(1),
    .about .about-advant img:nth-child(2),
    .about .about-advant img:nth-child(3){
        top:0;
    }  
}

@media(max-width:992px){
    .about .about-advant img:nth-child(3){
        left:38%;
    }
}
/*--------------------End About------------*/
/*-------------------Start Features------------*/
.features{
    background-image:  linear-gradient(to left, rgba(0, 65, 130, .9),rgba(17, 141, 240, .8));
    transform: skewY(-7deg);
    padding: 12rem 0;
}
@media(max-width:576px){
    .features{
        margin-top: 50px;
    }
}
@media(min-width:576px) and (max-width:768px){
    .features{
        margin-top: 100px;
    }
}
@media(min-width:768px) and (max-width:992px){
    .features{
        margin-top: 140px;
    }
}
.features .container{
    transform: skewY(6deg) !important;
}
.features .feature-box{
    background: rgba(255, 255, 255, 0.8);
    padding: 15px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    transition: all .5s ease-in-out;
}
.features .feature-box >i{
    font-size: 45px;
    margin-bottom: 25px;
    color: #ff4b68;
}
.features .feature-box >h3{
    font-size: 17px;
    font-weight: 600;
    color: #118df0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.features .feature-box >p{
    color: #666;
}
@media(max-width:992px){
    .features .feature-box {
        margin-bottom: 25px;
    }
}
.features .feature-box:hover{
    transform: translateY(-1.5rem) scale(1.04);
}
/*-------------------End Features------------*/
/*-------------------Start Tours------------*/
.tours{
    padding: 10rem 0;
}
.tours .tours-heading{
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #118df0;
}
@media(max-width:576px){
    .tours .tours-heading{
        font-size: 21px;
    }
}
.tours .thecard{
    position: relative;
    box-shadow: 3px 3px 8px #bbb1b1b5;
    border:1px solid #eee;
}
.tours .thecard .card-photo{
    position: relative;
    overflow: hidden;
}
.tours .thecard .card-photo img{
    width:100%;
    height: 200px;
}
.tours .thecard .card-photo:after{
    content: "";
    width:100%;
    height: 100%;
    left:0;
    position: absolute;
    background-color: rgba(255, 75, 104, .7) ;
    bottom: -100%;
    transition: all .5s ease-in-out;
}
.tours .thecard:hover .card-photo:after{
    bottom:0;
}
.tours .thecard span{
    position: absolute;
    top:-100%;
    right: 10px;
    background-color: #ff4b68;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    transition: all .5s ease-in-out;
    color:#fff;
}
.tours .thecard:hover span{
    top:0;
}
.tours .thecard h4{
    position:absolute;
    top:0;
    left:0;
    background-color: #ff4b68;
    color:#fff;
    padding: 7px;
    font-size: 18px;
    
}
.tours .thecard .card-details ul{
   padding: 0px 30px;
}
.tours .thecard .card-details ul li{
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    color:#666;
    font-weight: 600;
}
.tours .thecard .card-details ul li:last-child{
    border-bottom: none;
}

@media(max-width:992px){
    .tours .thecard{
        margin-bottom: 30px;
    }
}
.tours .button-discover{
    margin-top: 7rem
}
.tours .button-discover h4{
    background: none;
    padding: 15px 40px;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s ease-in-out;
    color:#004182;
}
.tours .button-discover h4:after,
.tours .button-discover h4:before{
    position: absolute;
    content:"";
    width:100%;
    height: 100%;
    border-style: solid;
    border-color: #ff4b68;
    transform: skew(-30deg);
    transition: all .5s ease-in-out;
}
.tours .button-discover h4:before{
    bottom:0;
    left:0;
    border-width:0 0 3px 3px;
}
.tours .button-discover h4:after{
    top:0;
    right: 0;
     border-width:3px 3px 0 0;
}
.tours .button-discover h4:hover{
    color:#fff;
}
.tours .button-discover h4:hover:after,
.tours .button-discover h4:hover:before{
    background: #ff4b68;
    width:99%;
    height: 99%;
    z-index: -1;
    transform: scale(.8,.8) skew(-30deg);
}
/*-------------------End Tours------------*/
/*-------------------Start Stories------------*/
.stories{
    padding: 60px 0;
    background-image: url('../images/stories.jpg');
    background-size: cover;
    position: relative;
}
.overlay-story{
    position: absolute;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
}
.stories h1{
    margin-bottom: 60px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #118df0;
    z-index: 22;
    position: relative;
}
@media(max-width:576px){
    .stories h1{
        font-size: 20px;
    }
}
.story .story-details{
    background-color: #eee;
    width: 900px;
    margin: 0px auto;
    padding: 10px;
    transform: skewX(-12deg);
}
.story .story-details img{
    width:150px;
    height: 150px;
    border-radius: 50%;
    transform: skewX(12deg);
}
.story .story-details:first-child{
    margin-bottom: 30px;
}
.story .story-details:last-child{
    margin-bottom: 30px;
}
.story .story-details h3{
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 20px 0;
    color: #004182;
}
.story .story-details p{
    font-size: 15px;
    color: #666;
}
@media(max-width:576px){
    .story .story-details{
        width:300px;
    }
}
@media(max-width:480px){
    .story .story-details{
        width:200px;
         transform: skewX(-7deg)
    }
    .story .story-details img{
        transform: skewX(4deg);
    }
    .story .story-details h3{
        font-size: 16px;
    }
    .story .story-details p{
        font-size: 13px;
    }
}
@media(min-width:576px) and (max-width:768px){
    .story .story-details{
        width:400px
    }
}
@media(min-width:768px) and (max-width:992px){
    .story .story-details{
        width:600px;
    }
}

.stories .sory-button button{
    padding: 10px;
    color: #fff;
    position: relative;
    background-color: #ff4b68;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.stories .sory-button button:hover{
    background-color: #fff;
    color:#ff4b68;
}
/*-------------------End Stories------------*/
/*-------------------Start Booking------------*/
.booking{
    padding: 90px 0;
        background-image: linear-gradient(to left, rgba(0, 65, 130, .9),rgba(17, 141, 240, .8)); 
}
.booking .book{
    background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(../images/book1.jpg);
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    height: auto;
}
.booking .book-form{
    padding: 6rem;
    width:50%;
}
@media(max-width:768px){
    .booking .book{
         background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 100%), url(../images/book1.jpg);
    }
    .booking .book-form{
        width:100%;
    }
}

.booking .book-form .form h2{
    margin-bottom: 40px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    color: #118df0;
}

.booking .book-form .form .form-radio-label{
    color:#118df0;
    font-size: 17px;
    font-weight: 600;
    padding-left: 7px;
}
@media(max-width:576px){
    .booking .book-form .form h2{
        font-size: 13px;
    }
    .booking .book-form .input-form::placeholder{
        font-size: 12px;
    
    }
    .booking .book-form .form .form-radio-label{
        font-size: 13px;
    }
}

.booking .book-form .input-form:focus{
    outline: none;
    border-bottom-color: #ff4b68;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

/*-------------------End Booking------------*/
/*-------------------Start Footer------------*/
.footer{
    padding: 70px 0;
    background-color: #004182;
    
}
.footer h1{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 90px;
    color:#fff;
}
.footer h1::first-letter{
    font-size: 60px;
    color:#ff4b68;
}
.footer .footer-nav{
    border-top: 2px solid #118df0;
    padding-top: 30px;
}
.footer .footer-nav ul li{
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    
}

.footer .footer-nav ul li:last-of-type{
    margin-right: 0;
}
.footer .footer-nav ul li a{
    font-size: 15px;
    text-decoration: none; 
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .5s ease-in-out;
}
.footer .footer-nav ul li a:hover{
    color:#ff4b68;
    -ms-transform: rotate(-20deg); 
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.footer .copy p{
    color:#fff;
    padding-top: 30px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
@media(max-width:576px){
    .footer .copy p{
        text-align: left;
    }
}
/*-------------------End Footer------------*/

/*Start Button Scroll*/
.sroll-button i{
      position: fixed;
      bottom: 10px;
      right: 10px;
      background-color:#fbffa3;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      color:#ff4b68;
      border: 2px solid #ff4b68;
      font-size: 20px;
      display: none;
      cursor: pointer
}
/*End Button Scroll*/

/*Start Spinner Loading */
.spinner {
    width:100px;
    height: 100px;
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border:5px solid #eee;
    border-left: 5px solid #ff4b68;
    border-right: 5px solid #ff4b68;
    animation: spinner 4s linear;
}
@keyframes spinner{
    0%{
       transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*End Spinner Loading*/


























